<div class="m-control m-navigationcoordinates-container">
	<label id="m-navigation-coordinateX-label" class="g-cartografia-navigation-coordinateX-label">X:</label>
	<input type="text" id="m-navigation-coordinateX-input" class="g-cartografia-navigation-coordinateX-input" title="Centrar en coordenada" placeholder="Coordenada X">
	<label id="m-navigation-coordinateY-label" class="g-cartografia-navigation-coordinateY-label">Y:</label>
	<input type="text" id="m-navigation-coordinateY-input" class="g-cartografia-navigation-coordinateY-input" title="Centrar en coordenada" placeholder="Coordenada Y">
	<button id="m-navigationcoordinatesapply-button" class="g-cartografia-gps4" title="Centrar en este punto"></button>
	<button id="m-navigationcoordinatesclear-button" class="g-cartografia-cancelar2" title="Borrar centrado"></button>
</div>